body
{
    font-family: Verdana;
    padding: auto;
    background-color: white;
}
#pagina
{
    padding: 25px 150px;
    margin: 15px;
    background-color: beige;
}
h1
{
    padding: 10px 25px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
h2
{
    padding: 10px 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: brown;
}
img
{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
h3
{
    font-size: 16px;
    text-decoration: underline;
    color: brown;
    text-align: center;
}
p
{
    font-size: 14px;
    line-height: 24px;
    color: rgb(red, green, blue);
}
