body {
    font-family: 'Tahoma';
    font-size: 18px;
    margin: 10px 400px;
    background-color: rgb(250, 239, 225);
}

h1 {
    text-align: center;
}

img {
    width: 80%;
    display: block;
    margin: 10px auto;
}

h2, h3 {
    margin-left: 20px;
}

p {
    margin: auto 30px;
    text-align: justify;
    margin-bottom: 15px;
}

#Primeira_Secao, #Segunda_Secao {
    margin: 15px;
    background-color: bisque;
    padding-bottom: 80px;
    padding-top: 1px;
}

#Terceira_Secao, #Quarta_Secao, #Quinta_Secao {
    font-size: 16px;
    margin: 15px;
    background-color: bisque;
    padding-bottom: 50px;
    padding-top: 1px;
    padding-left: 40px;
}

#Pagina {
    background-color: antiquewhite;
    padding-top: 1px;
    padding-bottom: 1px;
}

span {
    font-weight: bold;
}

a {
    text-decoration: none;
}